POSTGRES_USER=iceforge
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=iceforge_db

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/iceforge_db
SPRING_DATASOURCE_USERNAME=iceforge
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
IMAGE_BASE_URL=https://iceforge.fr/images/

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=icy
RABBITMQ_PSWD=CHANGE_ME
RABBITMQ_VHOST=/

JWT_SECRET=CHANGE_ME_WITH_32_CHARS_MIN
OPENAI_API_KEY=CHANGE_ME
BOT_API_KEY=CHANGE_ME
VAPID_PUBLIC_KEY=CHANGE_ME
VAPID_PRIVATE_KEY=CHANGE_ME
VAPID_SUBJECT=mailto:admin@iceforge.fr

DISCORD_TOKEN=CHANGE_ME
GUILD_ID=CHANGE_ME
DISCORD_EVENTS_CHANNEL_ID=CHANGE_ME
DISCORD_NEWS_CHANNEL_ID=CHANGE_ME
DISCORD_DISCUSSION_CHANNEL_ID=CHANGE_ME
ENV_MODE=production
